label, input, textarea, select, button 
{

    display: block;
    resize: none;
    outline: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

h1, h2, h3
{
    margin: 0 0 20px 0;
    font-size: 24px;
    line-height: normal;
    font-weight: normal;
    text-transform: capitalize;
    color: black;
}

h2
{
    font-size: 20px;
}

h3
{
    font-size: 18px;
}

label
{
    margin-bottom: 5px;    
}

.Main
{
    max-width: 1140px;
    margin: 10px auto; 
    margin-top: 50px;
}

/* News*/
.NewsBlock
{
    box-sizing: content-box;
    width: 100%;
    height: auto;
    background-color: rgb(241, 241, 241);
    padding: 10px;
    margin-bottom: 35px;
}

.NewsBlockContent img
{
    clear: left;
    float: left;
    width: 30%;
    height: 200px;
    margin-right: 20px;
}

.NewsBlockContent div
{
    width: 100%;
}

/*Comment*/

.Main-Comment div
{
    margin-bottom: 15px;
}

.Main-Commnets ul
{
    margin: 0 0 40px 0;
    padding: 0;
    list-style: none;
}

.Main-Commnets li
{
    background-color: rgb(247, 247, 247);;
    margin: 0 0 10px 0;
    padding: 15px;
}

.Main-Commnets .avatar
{
    float: right;
    margin: 0 0 10px 10px;
    padding: 3px;
    border: 1px solid;
}

.Main-Commnets li a
{
    text-decoration: none;
    color: #97A9BD;
}

.Main-Commnets time
{
    font-size: smaller;
}

.Main-Commnets address
{
    font-style: normal;
    font-weight: bold;
}

.Main-Commnets p
{
    margin: 10px 5px 10px 0;
    padding: 0;
    font-size: 14px;
}

/* WRITE COMMENT*/

.WriteCommentName input, .CommentBlock textarea
{
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-color: #D7D7D7;
}

.WriteCommentName
{
    margin-left: 40px;
    display: inline-block;
    width: 30%;
    height: 75px;
}

form input[type="date"]
{
    display: inline-block;
    line-height: 1.6em;
    height: 19px;
    padding: 10px;
    box-sizing: content-box;
    width: 100%;
    border: 1px solid;
    border-color: #D7D7D7;
}

.first
{
    margin-left: 0;
}

label span
{
    color: #FF0000;
}

.CommentBlock textarea
{
    height: 150px;
}

form input[type="submit"], form input[type="reset"] 
{
    display: inline-block;
    width: auto;
    min-width: 150px;
    margin: 0;
    padding: 8px 5px;
    cursor: pointer;
}

form input[type="radio"]
{
    display: inline-block;
    margin-left: 30px;
}

.Radiobuttons
{
    margin-top: 10px;
    width: 100%;
    display: inline-block;
}

.Radiobuttons label
{
    margin-left: 10px;
    display: inline-block;
    width: 60px;
}

.Radiobuttons label:first-child
{
    width: 50px;
    margin-left: 0;
}

form select
{
    line-height: 1.6em;
    height: 19px;
    padding: 10px;
    box-sizing: content-box;
    width: 100%;
    border: 1px solid;
    border-color: #D7D7D7;
}

.Checkbox
{
    width: 100%;
}

.Checkbox label
{
    display: inline-block;
    width: 80%;
}


form input[type="checkbox"]
{
    display: inline-block;
}

